.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 800; */
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

/* Shared Styles */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color:#FD6E0A
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    /* width: 150px;
    height: 64px; */
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color:#757575;
}
/* header */
.header{
    /* Rectangle 2 */
    background: rgb(255, 248, 243);
    background-image: url("../images/developer.png"), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;

}
nav ul li a{
    text-decoration: none;
    font-weight: 600;
}
/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-times{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-description{
    font-weight: 600;
}